.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
src/my-theme/common-style.css
src/my-theme/components.css
src/my-theme/element-ui-overwrite.css
src/my-theme/index.css
src/my-theme/petty.css
theme/
