@import '../my-theme/common-style.less';

.vp-panel {
  background-color: white;
  text-align: left;
  border-radius: @btn-border-radius;
  .panel-heading {
    text-align: left;
    width: 100%;
    border-radius: 4px 4px 0 0;
    border-bottom: @border-split;
    padding: @vp-spacing-base;
    font-weight: bold;
  }
  .panel-body {
    padding: @vp-spacing-base;
    font-size: 14px;
  }
}

.vp-breadcrumb-nav {
  margin-left: 30px;
}

.vp-msg-push-badge {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: @btn-border-radius;
  cursor: pointer;
  i:first-child {
    font-size: 18px;
  }
  .el-badge {
    display: block;
  }
}

.vp-search{
  text-align: left;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 100%;
  padding: 0;
  margin: 0 12px;
  i{
    cursor: pointer;
    font-size: 16px;
  }
  &-content{
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    .inline-input{
      margin-left: 10px;
      background: transparent;
      border-width: 1px;
      line-height: 1.5;
      height: 32px;
      .el-input__inner{
        background: transparent;
        line-height: 1.5;
        height: 32px;
        border: 1px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        position: relative;
        z-index: 1;
        -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 100%;
        outline: 0;
        border-radius: 0px;
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
}

.el-dropdown-menu__item--divided:before {
  content: '';
  height: 0px;
  display: block;
  margin: 0 -10px;
  background-color: #fff;
}

// 消息推送提醒
.vp-msg-push {
  border-radius: 4px;
  padding: 0px 0;
  li {
    padding: 6px;
    margin: 0px;
    &:first-child {
      padding: 0 10px;
      color: #66b1ff;
      font-size: 12px !important;
      font-weight: bold;
      border-radius: 4px 4px 0 0;
    }
    &:first-child:hover {
      background: white;
    }
    img {
      vertical-align: top;
      border-radius: @btn-border-radius;
      margin-top: 9px;
      margin-right: 5px;
    }
    text-align: left;
    .subject {
      width: 200px;
      display: inline-block;
      .title {
        line-height: 36px;
        font-size: 14px;
        font-weight: bold;
        .time {
          float: right;
          font-size: 14px;
          color: @vp-grey;
        }
      }
      .message {
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 14px;
        line-height: 14px;
        font-size: 8px;
      }
    }
  }
  .el-dropdown-menu__item--divided {
    line-height: 20px;
  }
}

.vp-user-panel {
  position: absolute;
  right: 10px;
  font-size: 12px;
  i:first-child {
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
  }
  img {
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 6px;
  }
  span {
    vertical-align: middle;
    padding: 2px;
  }
  button {
    padding: 6px;
  }
}

.vp-user-panel-menu {
  text-align: center;
  border-radius: 4px;
  padding: 0px;
  li {
    width: 100px;
    padding: 0px 0;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
  }
}

.vp-state-overview {
  background-color: white;
  border-radius: 4px;
  min-height: 100px;
  overflow: hidden;
  .symbol {
    min-height: 100px;
    color: white;
    font-size: 45px;
    background-color: @primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .value {
    color: @vp-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .count {
      margin: 0px;
      font-size: 30px;
      font-weight: bold;
    }
    .title {
      margin: 0px;
    }
  }
}

.vp-user-preview {
  overflow: hidden;
  .panel-heading {
    display: flex;
    background-color: @primary-color;
    img {
      height: 70px;
      border-radius: 35px;
      vertical-align: middle;
      margin-right: @vp-spacing-base;
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      vertical-align: middle;
      .name {
        color: white;
        margin-top: 5px;
        font-size: 18px;
        font-weight: 300;
      }
      .role {
        color: white;
      }
    }
  }
  ul.content {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    li {
      display: flex;
      border-bottom: @border-split;
      i {
        color: @vp-grey;
        font-size: 16px;
        width: 10px;
      }
      padding: 0 @vp-spacing-base;
      height: 39px;
      line-height: 39px;
      span {
        flex-grow: 1;
      }
      span:first-child {
        width: 10%;
        margin-left: 10px;
      }
      span:nth-child(2) {
        width: 40%;
      }
      span:last-child {
        text-align: right;
        width: 40%;
        margin-right: 10px;
      }
    }
    li:last-child {
      border-bottom: 1px solid transparent;
    }
    li:hover {
      background: #f7f7f7;
    }
  }
}

.vp-progress {
  .panel-heading {
    height: 80px;
    color: @primary-color;
    font-size: 16px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid #eeeff1;
      td {
        padding: 0 15px;
        font-size: 14px;
        height: 44px;
      }
    }
  }
}

.vp-timeline {
  font-size: 14px;
  .panel-heading {
    color: @primary-color;
    font-size: 16px;
  }
  ul.panel-body {
    h4 {
      margin-top: 1px;
    }
    li {
      list-style: none;
      .left, .right {
        flex-grow: 1;
        width: calc(50% - 1px);
        padding-bottom: 15px;
      }
      .left {
        text-align: right;
        padding-right: 30px;
      }
      .right {
        text-align: left;
        padding-left: 30px;
      }
      .content {
        background-color: @vp-grey-light;
        border-radius: @border-radius-small;
        h3, p {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
      .split {
        width: 2px;
        background-color: @border-color-base;
        height: inherit;
        .dot-left, .dot-right {
          display: inline-block;
          position: relative;
          width: 12px;
          height: 12px;
          color: @primary-color;
          background-color: @primary-color;
          border-radius: 50%;
          margin: 20px 0 0 -5px;
        }
        .dot-left:before, .dot-right:before {
          content: '';
          border: 6px solid transparent;
          position: absolute;
        }
        .dot-left:before {
          border-left-color: inherit;
          left: 8px;
        }
        .dot-right:before {
          border-right-color: inherit;
          right: 8px;
        }
      }

    }
  }

}

.vp-tabs {
  .heading {
    height: 55px;
    border-radius: @border-radius-small @border-radius-small 0 0;
    background-color: @primary-color;
    line-height: 55px;
    font-size: 16px;
    color: white;
    .icon {
      display: inline-block;
      text-align: center;
      font-size: 18px;
      width: 55px;
      background: rgba(0, 0, 0, 0.1);
    }
    .title {
      margin-left: 10px;
    }
  }
  .body {
    position: relative;
    overflow: hidden;
    padding: @vp-spacing-base;
    & > ul {
      padding: 0px;
      margin: 0px;
      position: relative;
      height: inherit;
      & > li {
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: white;
      }
    }
  }
  .footer {
    min-height: 60px;
    line-height: 60px;
    ul {
      padding: 0px;
      margin: 0px;
      display: flex;
      border-top: @border-split;
      justify-content: space-around;
      li {
        list-style: none;
        text-align: center;
        cursor: pointer;
      }
      li.active {
        color: @primary-color;
        font-weight: bold;
      }
    }
  }
}

.vp-tabs:hover {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, .16), 0px 0px 24px 0px rgba(0, 0, 0, .15);
  transition: all .3s ease-in-out;
}

.vp-weather {
  .top {
    color: white;
    border-radius: @border-radius-small @border-radius-small 0 0;
    background-color: @info-color;
    text-align: center;
    height: 130px;
    i {
      font-size: 60px;
    }
    .temprature {
      font-size: 60px;
    }
  }
  .bottom {
    height: 73px;
    font-size: 14px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        color: @vp-grey;
      }
    }
  }
}

.vp-table {
  .control {
    position: relative;
    margin-top: -@vp-spacing-base;

    .table-style {
      margin-top: 0px;
      display: flex;
      align-items: center;
    }
    & > div {
      margin-top: 10px;
    }
  }
  .edit {
    position: relative;
    margin-bottom: @vp-spacing-base;
    padding-top: @vp-spacing-base;
    border-top: 1px dashed @border-color-split;
  }
  .footer {
    margin-top: @vp-spacing-base;
    .info-bar {
      .input-number {
        margin: 0 10px;
      }
    }
    .page {
      display: flex;
      align-items: center;
      .total {
        margin-right: 15px;
      }
    }
  }
}

.vp-state-group {
  text-align: center;
  padding: 15px;
  .item {
    float: left;
    border-right: @border-split;
    &:last-child {
      border-right: none;
    }
    .icon {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      color: @vp-grey;
    }
  }
}

.vp-message-carousel {
  .item {
    margin-top: @vp-spacing-base;
    padding: @vp-spacing-base;
    .carousel-main {
      padding: @vp-spacing-base;
      position: relative;
      &:before, &:after {
        content: "\"";
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        color: @primary-color;
      }
      &:before {
        top: 0;
        left: 0;
      }
      &:after {
        bottom: 0;
        right: 15px;
      }
      .title {
        font-size: 16px;
        font-weight: bold;
      }
      .content {
        font-size: 16px;
        margin: @vp-spacing-base 0;
      }
    }
    .from {
      margin: 20px @vp-spacing-base;
      img {
        border-radius: 50%;
        vertical-align: middle;
        height: 40px;
        margin-right: @vp-spacing-base;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.vp-card-vertical {
  .card-img {
    position: relative;
    img {
      display: block;
      width: 100%
    }
    .control {
      position: absolute;
      bottom: -20px;
      right: 15px;
      display: flex;
      span {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        align-items: center;
        color: white;
        font-size: 18px;
        background-color: @primary-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
      span.edit {
        background-color: @info-color;
        a {
          color: white;
        }
      }
      span.delete {
        background-color: @primary-color;
      }
    }
  }
  .card-desc {
    p {
      font-size: 14px;
      margin: 10px 0;
      text-align: justify;
      height: 84px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.vp-card-horizantal {
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 0;
  .card-img {
    display: flex;
    align-items: center;
    width: 50%;
    img {
      display: block;
      margin: 0;
      width: 100%;
    }
  }
  .card-desc {
    width: 50%;
    p {
      font-size: 14px;
      margin: 0;
      text-align: justify;
    }
  }
}

.vp-circle {
  padding: @vp-spacing-base;
  & > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
  }
}

.vp-login {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 100%;
  background-color: white;
  text-align: left;
  & > div {
    padding: 30px;
  }
  .login-form {
    flex-direction: column;
    justify-content: center;
    .login-header {
      margin-top: 70%;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
      span {
        color: @primary-color;
      }
    }
    .login-body {
      input {
        width: 100%;
      }
      button {
        margin-top: 20px;
        width: 100%;
      }
    }
    .login-footer {
      margin-top: 10px;
      span.forget {
        float: right;
      }
    }
  }
  .login-ad {
    height: 100%;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0 @btn-border-radius @btn-border-radius 0;
    background: url("../assets/img/photo1.png") repeat;
    .photo-author {
      position: absolute;
      right: 6px;
      bottom: 45px;
    }
  }
}

.vp-lock-screen {
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .company {
    font-size: 16px;
    font-weight: bold;
    img {
      vertical-align: middle;
    }
    span {
      color: @primary-color;
    }
    margin-bottom: 50px;
  }
  .user {
    margin-bottom: 50px;
    p.name {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }
  }
  input {
    margin-bottom: 10px;
  }
  button {
    width: 300px;
  }
}

.vp-image-list {
  .image-list-heading {
    .page {
      span {
        margin-right: 10px;
      }
      span.margin-end {
        margin-right: 20px;
      }
      .input-number {
        width: 40px;
        margin-right: 10px;
      }
    }
    .panel-body {
      margin-top: -@vp-spacing-base;
      & > div {
        margin-top: @vp-spacing-base;
      }
    }
  }
  .total {
    margin-right: 15px;
  }
}

.vp-loading {
  .rect {
    width: 8px;
    height: 36px;
    background-color: @primary-color;
    float: left;
    margin: 3px;
    animation: animate 1s infinite;
    &:nth-child(2) {
      animation-delay: 0.1s
    }
    &:nth-child(3) {
      animation-delay: 0.2s
    }
    &:nth-child(4) {
      animation-delay: 0.3s
    }
    &:nth-child(5) {
      animation-delay: 0.4s
    }
    &:nth-child(6) {
      animation-delay: 0.5s
    }
    &:nth-child(7) {
      animation-delay: 0.6s
    }
    &:nth-child(8) {
      animation-delay: 0.7s
    }
    &:nth-child(9) {
      animation-delay: 0.8s
    }
    &:nth-child(10) {
      animation-delay: 0.9s
    }
  }
}

@keyframes animate {
  50% {
    transform: scaleY(0)
  }
}

.vp-loading-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  .vp-loading-bar-inner {
    transition: width .2s linear;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .08), 0px 0px 12px 0px rgba(0, 0, 0, .08);
  }
}

.vp-open-tags {
  position: relative;
  box-sizing: border-box;
  padding-right: 120px;
  width: 100%;
  height: 100%;
  &-close {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding-top: 6px;
    text-align: center;
    width: 110px;
    height: 100%;
    background: #fff;
    box-shadow: -3px 0 15px 3px rgba(0, 0, 0, .1);
    z-index: 10;
  }
  &-body {
    position: absolute;
    padding: 4px 10px;
    overflow: visible;
    white-space: nowrap;
    transition: left .3s ease;
    &-tag {
      margin-right: 4px;
      display: inline-block;
      border: 1px solid #e9eaec;
      border-radius: 3px;
      background: #f7f7f7;
      font-size: 12px;
      vertical-align: middle;
      opacity: 1;
      overflow: hidden;
      cursor: pointer;
      .tag-dot-inner {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 8px;
        border-radius: 50%;
        background: #e9eaec;
        position: relative;
        top: 1px;
      }
    }
    &-tag:hover {
      opacity: .85;
    }
  }
}

.analysis-card {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: left;
  &-container {
    padding: 20px 24px 8px;
    position: relative;
    &-title {
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      position: relative;
      line-height: 22px;
      height: 22px;
      &-tip {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &-body {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.85);
      margin-top: 4px;
      margin-bottom: 0;
      font-size: 30px;
      line-height: 38px;
      height: 38px;
    }
    &-als-text {
      margin-bottom: 12px;
      position: relative;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
      &-content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        .yony {
          display: inline-block;
          font-size: 14px;
          line-height: 22px;
          .ratio {
            margin-left: 8px;
            color: rgba(0, 0, 0, 0.85);
          }
          .arrow-red {
            color: #FA5555;
          }
          .arrow-green {
            color: #67C23A;
          }
        }
      }
    }
    &-als-area {
      margin-bottom: 12px;
      position: relative;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
      &-content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        .mini-chart {
          position: relative;
          width: 100%;
          .chart-content {
            position: absolute;
            bottom: -34px;
            width: 100%;
          }
        }
      }
    }
    &-footer {
      border-top: 1px solid #e8e8e8;
      padding-top: 9px;
      margin-top: 8px;
      &-content {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin: 0;
      }
    }
  }
}

.user-welcome {
  background: #fff;
  padding: 16px 32px 0 32px;
  border-bottom: 1px solid #e8e8e8;
  &-info {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    list-style: none;
    color: rgba(0, 0, 0, 0.45);
  }
  &-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &-main {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
      &-content {
        margin-bottom: 16px;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        .header-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          .avatar {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 72px;
            flex: 0 1 72px;
            margin-bottom: 8px;
            .avatar-circle {
              overflow: hidden;
              border-radius: 72px;
              display: block;
              width: 72px;
              height: 72px;
            }
          }
          .content {
            text-align: left;
            position: relative;
            top: 4px;
            margin-left: 24px;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            color: rgba(0, 0, 0, 0.45);
            line-height: 22px;
            &-title {
              font-size: 20px;
              line-height: 28px;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.85);
              margin-bottom: 12px;
            }
            &-detail {
              font-size: 14px;
            }
          }
        }
      }
      &-extra {
        min-width: 442px;
        text-align: right;
        margin-bottom: 16px;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        .extra-content {
          zoom: 1;
          float: right;
          & > div {
            padding: 0 32px;
            position: relative;
            float: left;
            & > p:first-child {
              color: rgba(0, 0, 0, 0.45);
              font-size: 14px;
              line-height: 22px;
              margin-bottom: 4px;
            }
            & > p {
              color: rgba(0, 0, 0, 0.85);
              font-size: 30px;
              line-height: 38px;
              margin: 0;
              & > span {
                color: rgba(0, 0, 0, 0.45);
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.vp-user-index {
  .legend {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
    p {
      .dot {
        border-radius: 6px;
        display: inline-block;
        margin-right: 6px;
        position: relative;
        top: -1px;
        height: 6px;
        width: 6px;
      }
    }
    h6 {
      color: rgba(0, 0, 0, 0.85);
      padding-left: 16px;
      font-size: 24px;
      line-height: 32px;
      margin-top: 4px;
      margin-bottom: 0;
    }
  }
}

.vp-user-item {
  .item-list {

  }
}

.vp-to-do-list{
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  padding: 0 24px 0px 24px;
  outline: none;
  &-content{

  }
  &-footer{
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
  }
}

.vp-to-do-list-item{
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  &-meta{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    &-avatar{
      -webkit-box-flex: 0;
      -ms-flex: 0;
      flex: 0;
      margin-right: 16px;
      .avatar{
        font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.65);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        text-align: center;
        background: #ccc;
        color: #fff;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 16px;
      }
    }
    &-content{
      -webkit-box-flex: 1;
      -ms-flex: 1 0;
      flex: 1 0;
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: .5em;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
      }
      &-title{
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 22px;
        .username{
          color: rgba(0, 0, 0, 0.65);
          background-color: transparent;
          text-decoration: none;
          outline: none;
          cursor: pointer;
          -webkit-transition: color .3s;
          -o-transition: color .3s;
          transition: color .3s;
          -webkit-text-decoration-skip: objects;
          .event{
            font-weight: normal;
          }
        }
      }
      &-description{
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        line-height: 22px;
        .datetime{
          color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
