@import '../../theme/index.css';
@import '../my-theme/petty.less';

.el-menu-item{
  border-right: 3px solid transparent;
}

.el-menu-item.is-active{
  background: transparent !important;
  border-right-color: #00a65a;
}

.collapsed{
  width:64px;
}
.el-submenu__title i{
  margin-left: 4px;
}

.el-menu-item i{
  margin-left: 4px;
}
